body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {font-size: 562.5%;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  color: #25316D;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 250%;
  color: #645CAA;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #87A2FB;
}

hr{
  border: dotted #A1C298 6px;
  border-bottom: none;
  width: 4%;
  margin: 90px auto;
}


.top-container {
background-color: #87A2FB;
  position:relative;
  padding: 100px 0 100px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 60px;
}

.middle-container {
  margin: 0 0;
}

.myImg{
      transition: transform 1s ease;
    }
    .myImg:hover {
    transform: scale(1.1);
    }

.bottom-container {
  background-color: #87A2FB;
  padding: 30px 0 30px;
}

.skill-row {
  width: 52%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.astronaut{
  width: 26%;
  float: left;
  margin-right: 30px;
}
.astronaut1{
  width: 26%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #645CAA;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 25px;
  padding: 20px 20px;
}
.btn:hover {
  background: #a59fdd;
}

.footer-link{
  color: #182747;
  font-family: 'Montserrat', sans-serif;
  margin:0 10px;
  padding:10px;
  font-size: 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}

.copyright{
  font-size: 50%;
  color: #EAF6F6;
  padding: 10px 0;
}
